
.adhesions tr.pro_structure{
	background-color:seashell;
}

.adhesions, .adhesions th{
	text-align: center;
}

.adhesions tr.pro_personne{
	background-color:whitesmoke;
}

.adhesions tr.conso{
	background-color:Buttonface;
}

.adhesions tr.couple{
	background-color:aliceblue;
}


.adhesions a{
	color:white;
}

.adhesions .invalide_forced{
	background-color:orange;
}

.adhesions .invalide{
	background-color:red;
}

.adhesions .valide{
	background-color:green;
}

.adhesions .valide_forced{
	background-color:lightgreen;
}

.adhesions .rouge{
	color:rgba(256, 0, 0, 0.6);
}

.adhesions tr.edit{
	box-shadow: 0px 0px 16px #aaa;
	background-color:yellow;
}